@include animate($class:true);

%animated-list {
		position: relative;
		top: auto;
		@include opacity(1);
		visibility: visible;
		@include transition(opacity $transition-medium, transform $transition-fast);
		@include translateY(0);
		&.ui-animate {
			@include translateY(-40px);
			@include opacity(0);
			visibility: hidden;
		}
}

.animated-fast {
	@extend %accelerate;
	@include animation-duration($transition-fast);
	@include experimental(animation-fill-mode, both);
}

.animated {
	@extend %accelerate;
	@include animation-duration($default-transition-duration);
	@include experimental(animation-fill-mode, both);
}

.animated-medium {
	@extend %accelerate;
	@include animation-duration($transition-medium);
	@include experimental(animation-fill-mode, both);
}

.animated-slow {
	@extend %accelerate;
	@include animation-duration($transition-slow);
	@include experimental(animation-fill-mode, both);
}