.button {
	font-size: 1em;
	font-weight: 900;
	cursor: pointer;
	padding: 5px 10px;
	border: 1px solid $orange-dark;
	background: $orange;
	color: white;
	text-align: center;
	@include text-shadow(0 1px 0 $grey-80);
	@include border-radius($border-radius-small);
}

.negative {
	background: $negative;
	border: 1px solid $negative-dark;
}

.small {
	padding: 2px 4px;
}

@include animate($class:true);
.animated {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}

.guest-select {
	width: 100%;
}