* {
	box-sizing: border-box;
}

%circle {
	@include border-radius(50%);
}

nav {
	@include pie-clearfix();
}

.tabs {
	li {
		float: left;
			a {
				border-right: 1px solid $grey;
				display: block;
				text-align: center;
				padding: $global-padding/2;
				background: $grey;
				color: white;
				&.active {
					background: $grey-light;
					color: $grey;
			}

			&:first-child a {
				@include border-top-left-radius;
			}
			&:last-child a {
				@include border-top-right-radius;
				border-right: none;
			}
		}
	}
	&.two {
		li {
			width: 50%;
		}
	}
	&.three {
		li {
			width: 33.33%;
		}
	}
}

.panel {
	position: absolute;
	z-index: 9999;
}

.hide {
	display: none;
}