* {
	// box-sizing: border-box;
}

.container {
	width: 100%;
	position: relative;
	@include pie-clearfix;
}

%circle {
	@include border-radius(50%);
}

nav {
	@include pie-clearfix;
}

.tabs {
	li {
		float: left;
		a {
			border-right: 1px solid $purple;
			display: block;
			text-align: center;
			padding: $global-padding/2;
			background: $purple-light;
			color: $purple;
			&.active {
				background: $purple;
				color: white;
			}
		}
		&:first-child a {
			@include border-top-left-radius;
		}
		&:last-child a {
			@include border-top-right-radius;
			border-right: none;
		}
	}
	&.two {
		li {
			width: 50%;
		}
	}
	&.three {
		li {
			width: 33.33%;
		}
	}
}

.panel {
	position: absolute;
	z-index: 9999;
}

.hide {
	display: none;
}