.table-wrap {
	position: absolute;
	cursor: move;
	// @TODO: WEBKIT BUG WITH THIS TRANSITION (DRAG QUICKLY) makes viewport freak out
	// @include single-transition(transform, $transition-fast);
	
	&.ui-draggable-dragging {
		@include scale(1.25);
	}

	&[data-table-shape="circle"] {
		@include distribute-seats-circle;
		.table {
			width: 100px;
			height: 100px;
			@extend %circle;
			.seat-wrap {
				position: relative;
				width: 100px;
				height: 100px;
			}
			.seat {
				margin-left: -10px;
				top: -30%; // every change to this value = change height px by OPPOSITE amount
				left: 50%;
				height: 80px; // every change to this value = change top % by OPPOSITE amount
				width: 20px;
			}
		}
	}

	&[data-table-shape="rect"] {
		.table {
			width: 130px;
			height: 70px;
		}

		.seat-wrap {
			width: 130px;
			height: 70px;
			position: relative;
		}

		.seat {
			width: 20px;
			height: 20px;
		}

		// Rectangle 4 layout
		&[data-table-size="4"] {
			.seat {
				// Top seat
				&[data-seat-number="1"] {
					top: -30px;
					left: 50%;
					margin-left: -10px;
				}
				// Bottom seat
				&[data-seat-number="3"] {
					bottom: -30px;
					left: 50%;
					margin-left: -10px;
				}
				// Right seat
				&[data-seat-number="2"] {
					right: -30px;
					top: 50%;
					margin-top: -10px;
				}
				// Left seat
				&[data-seat-number="4"] {
					left: -30px;
					top: 50%;
					margin-top: -10px;
				}
			}
		}
	}

}

.table {
	background: $purple-light;
	border: 4px solid $purple;
	@include single-transition(transform, $default-transition-duration);
	@include box-shadow(0 0 10px $grey-20);
	@include box-shadow(inset 0 0 30px $grey-20);
}

.table-number {
	cursor: move;
	position: absolute;
	z-index: 888;
	width: 100px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	top: 50%;
	left: 50%;
	margin-top: -24px;
	margin-left: -50px;
	color: $purple;
}

.table-controls {
	@include opacity(0);
	@include transition;
	width: 100%;
	position: absolute;
	bottom: -70px;
	text-align: center;
	font-size: 20px;
	.rotate-table {
		display: inline-block;
		width: 25%;
		&.cw {
			text-align: left;
			&:after {
				top: 0;
				left: 0;
				content: "\21BB";
			}
		}
		&.ccw {
			text-align: right;
				&:after {
				top: 0;
				left: 0;
				content: "\21BA";
			}
		}
	}
}

.table-wrap:hover {
	.table-controls {
		@include opacity(1);
	}
}

.seat {
	position: absolute;
	@include transform-origin(bottom ,center);
	a {
		border: 1px solid $grey-20;
		// @include box-shadow(0 0 0 1px $grey-40);
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		content: "fdsdf";
		width: 20px;
		height: 20px;
		@extend %circle;
		background: $purple-light;
		@include transition(all 0.5s);
		&:hover {
			background: $purple;
		}
	}
}