/*
//	Font Import
*/

@include font-face(
    'Brevia Light',
    font-files(
        "brevia-light-webfont.woff", woff,
        "brevia-light-webfont.ttf", truetype,
        "brevia-light-webfont.svg#BreviaLight", svg),
    	'brevia-light-webfont.eot',
	    normal,
	    normal
);

@include font-face(
    'Brevia Medium',
    font-files(
        "brevia-medium-webfont.woff", woff,
        "brevia-medium-webfont.ttf", truetype,
        "brevia-medium-webfont.svg#BreviaMedium", svg),
    	'brevia-medium-webfont.eot',
	    normal,
	    normal
);


body {
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
	color: $textColor;
	font-family: $baseFontFamily;
	font-weight: normal;
}

strong {
	font-family: $boldFontFamily;
	font-weight: normal;
}

h1, .alpha, h2, .beta {
	font-family: $boldFontFamily;
	font-weight: normal;
}

h1, .alpha {
	font-size: 2em;
	margin-bottom: 0.75em;
}

h2, .beta {
	font-size: 1.571em;
	margin-bottom: 0.75em;
}

.section-head {
	line-height: 1;
	margin-bottom: 0.786em;
	padding-bottom: 0.75em;
	border-bottom: 1px solid $grey-light;
}

.hint {
	display: inline-block;
	padding-left: 20px;
	font-size: 0.636em;
	color: $grey;
}

h3, .gamma {

}

h4, .delta {

}

h5, .epsilon {

}

h6, .zeta {

}