/*
// Colors
*/

$grey: #888888;
$grey-lighter: lighten($grey, 42%);
$grey-light: lighten($grey, 30%);
$grey-dark: darken($grey, 5%);
$grey-darker: darken($grey, 10%);


$tan: #edd4a8;
$tan-light: lighten($tan, 14%);

$purple: #5c565e;
$purple-light: lighten($purple, 40%);
$purple-lighter: lighten($purple, 60%);

$skin: #ba8a70;

$orange: #d4c472;
$orange-dark: darken($orange, 15%);

$fadedGreen: #718f85;
$negative: #f56966;
$negative-dark: darken($negative, 15%);

$grey-80: fade-out(black, 0.2);
$grey-60: fade-out(black, 0.4);
$grey-40: fade-out(black, 0.6);
$grey-20: fade-out(black, 0.8);


/*
// Table sizes
*/

$table-sizes: (2, 3, 4, 5, 6, 7, 8, 9, 10);

/*
// Padding / margins
*/

$global-padding: 40px;

/*
// Transitions
*/
$default-transition-function: ease-in-out;
$default-transition-duration: 0.4s;
$transition-fast: 0.1s;
$transition-slow: 1s;

/*
//	Border radius
*/
$default-border-radius: 4px;
$border-radius-small: 2px;
$border-radius-large: 8px;