/*
// Colors
*/

$grey: #888888;
$grey-lighter: lighten($grey, 42%);
$grey-light: lighten($grey, 30%);
$grey-dark: darken($grey, 5%);
$grey-darker: darken($grey, 10%);

$skin: #ba8a70;

$fadedGreen: #718f85;
$negative: #f56966;
$negative-dark: darken($negative, 15%);

$grey-80: fade-out(black, 0.2);
$grey-60: fade-out(black, 0.4);
$grey-40: fade-out(black, 0.6);
$grey-20: fade-out(black, 0.8);
$grey-15: fade-out(black, 0.85);
$grey-10: fade-out(black, 0.9);
$grey-5: fade-out(black, 0.95);



// GLOBAL VALUES
// --------------------------------------------------

// Grays
$black:                 #000 !default;
$grayDarker:            lighten($black, 10%) !default;
$grayDark:              lighten($black, 25%) !default;
$gray:                  lighten($black, 50%) !default;
$grayLight:             lighten($black, 75%) !default;
$grayLighter:           lighten($black, 90%) !default;
$white:                 #fff !default;

// Theme colors
$offWhite: #fff8e3;
$paleGreen: #a7bd63;
$greenBlack: #33332d;
$skyBlue: #91abc9;
$orange: #db4105;

// Links
$linkColor:             $skyBlue !default;
$linkColorHover:        darken($linkColor, 15%) !default;

// Typography
$baseFontSize:          14px !default;
$baseFontFamily:        "Brevia Light", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$boldFontFamily:        "Brevia Medium", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$sansSerifFontFamily:	$baseFontFamily;
$monospaceFontFamily:   Menlo, Monaco, "Courier New", monospace;
$baseLineHeight:        1.5 !default;
$textColor:             $greenBlack !default;

// Buttons
$primaryButtonBackground:    $skyBlue !default;


// COMPONENT VARIABLES
// --------------------------------------------------

// Z-index master list
$zindexCanvas: 			0;
$zindexTabHint: 		30;
$zindexEmptyHint:		30;
$zindexTableWrap:		40;
$zindexPullTab: 		50;
$zindexNavPanel: 		60;
$zindexModalBackdrop:   170;
$zindexModal:           180;
$zindexSelectDrop:		200;
$zindexSelectSearch:	300;

// Input placeholder text color
$placeholderText:       $grayLight !default;

// Form states and alerts
$warningText:             #c09853 !default;
$warningBackground:       #fcf8e3 !default;
$warningBorder:           darken(adjust-hue($warningBackground, -10), 3%) !default;

$errorText:               #b94a48 !default;
$errorBackground:         #f2dede !default;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%) !default;

$successText:             #468847 !default;
$successBackground:       #dff0d8 !default;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%) !default;

$infoText:                #3a87ad !default;
$infoBackground:          #d9edf7 !default;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%) !default;


/*
// Table sizes
*/

$table-sizes: (2, 3, 4, 5, 6, 7, 8, 9, 10);

/*
// Padding / margins
*/

$global-padding: 40px;

/*
// Transitions
*/
$default-transition-function: ease-in-out;
$default-transition-duration: 0.5s;
$transition-fast: 0.25s;
$transition-medium: 0.75s;
$transition-slow: 1s;

/*
//	Border radius
*/
$default-border-radius: 2px;
$border-radius-large: 4px;