@import "base";

html {
	height: 100%;
}

body {
	height: 100%;
	@include background($tan-light image-url('bg.png'));
	&:before {
		content: "";
		position: fixed;
		top: -10px;
		left: 0;
		width: 100%;
		height: 10px;
		@include box-shadow(0 0 10px $grey-40);
		z-index: 2;
	}
	&:after {
		content: "";
		position: fixed;
		bottom: -10px;
		left: 0;
		width: 100%;
		height: 10px;
		@include box-shadow(0 0 10px $grey-40);
		z-index: 2;
	}
}

a {
	text-decoration: none;
	color: $grey;
}

#logo {
	text-indent: -9999em;
	margin-left: $global-padding;
}

#wrap {
	height: 100%;
	max-width: 780px;
	padding: 0 $global-padding;
	margin: 0 auto;
}

#main {
}

#canvas {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: $paleGrey;
	@include background(radial-gradient($white, $grayLight 1650px));
	z-index: $zindexCanvas;
}

#nav-app {
	color: $white;
	position: absolute;
	padding: 0 30px;
	left: -400px;
	top: 0;
	bottom: 0;
	width: 340px;
	height: 100%;
	background: $blueDark;
	@include box-shadow(0 0 20px $grey-20);
	z-index: $zindexNavPanel;
	@include single-transition(left, $default-transition-duration);
	// display: none;
	&.shift {
		left: 0;
	}
}

.top-nav {
	font-size: 1.571em;
	padding: 30px 0;
	li {
		padding: 10px 0;
	}
	.active {
		color: $white;
	}
}


#objects {
	.table-wrap {
		position: relative;
		display: inline-block;
	}

	.table {
		border-color: $white;
	}

	.hint {
		display: block;
		padding-left: 0;
		padding-top: 6px;
	}
}

.pull-tab {
	border-top: none;
	position: fixed;
	z-index: $zindexPullTab;
	top: 100px;
	left: 0;
	@include border-left-radius(0);
	@include single-transition(left, $default-transition-duration);
	&.shift {
		left: 399px;
	}
}

#objects-list {
	width: 100%;
	@include pie-clearfix;
	li {
		float: left;
		text-align: center;
		width: 47%;
		margin-bottom: 20px;
		&:nth-child(2n+1) {
			clear: left;
		}
	}
}

button {
	@extend .button;
}

#edit-seat {
	.actions {
		text-align: right;
		padding-top: 4px;
	}
}

footer {
	padding: $global-padding/2;
}

.guest-select {
	width: 100%;
}


.table-seats {
	width: 610px;
	margin-top: -20px;
	@include pie-clearfix;
	li {
		margin-right: 8%;
		float: left;
		width: 42%;
		padding: 20px 0 0 0;
		position: relative;
	}
	.delete-seat {
		top: 22px;
		position: absolute;
		right: -25px;
	}
}

.ui-state-highlight {
	background: $grey-lighter;
	@include border-radius;
	border: 1px solid $grey-light;
}


#empty-hint {
	width: 100%;
	position: absolute;
	top: 50%;
	text-align: center;
	font-size: 3em;
	margin-top: -1.5em;
}

#tab-hint {
	font-size: 1.5em;
	font-family: $boldFontFamily;
	z-index: $zindexTabHint;
	width: 100%;
	position: fixed;
	left: 115px;
	top: 109px;
}