@import "base";

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: $grey;
	background: $grey-lighter;
}

a {
	text-decoration: none;
	color: $grey;
}

#wrap {
	max-width: 1650px;
	min-width: 940px;
	padding: 0 20px;
	margin: 40px auto;
	position: relative;
}

#canvas {
	width: 100%;
	border: 2px solid $grey-light;
	background: white;
	height: 600px;
	position: relative;
	@include border-bottom-radius;
	overflow: auto;
}


#objects {
	background: darkGray;
	position: absolute;
	z-index: 999;
	width: 100%;
}


input[type=text], textarea {
	width: 100%;
	padding: 5px;
	@include border-radius($border-radius-small);
	border: 1px solid $grey-light;
}

#edit-seat {
	width: 245px;
	select {
		width: 190px;
	}
}