@import "base";

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #444;
}

a {
	text-decoration: none;
	color: $grey;
}

#wrap {
	max-width: 1650px;
	min-width: 940px;
	padding: 0 20px;
	margin: 40px auto;
	@include rotate-tables;
}

#canvas {
	border: 2px solid $grey-light;
	background: $grey-lighter;
	height: 600px;
	position: relative;
}

.table-wrap {
	position: absolute;
	top: 20%;
	left: 50%;
}

.table {
	background: $grey-light;
	border: 4px solid $grey;
	@include transition;

	&[data-table-shape="round"] {
		width: 100px;
		height: 100px;
		@extend %circle;
	}
}

.table-number {
	position: absolute;
	z-index: 999;
	width: 48px;
	height: 48px;
	font-weight: bold;
	text-align: center;
	cursor: default;
	line-height: 48px;
	top: 50%;
	left: 50%;
	margin-top: -24px;
	margin-left: -24px;
	background: $grey;
	@extend %circle;
}

.table-controls {
	@include opacity(0);
	@include transition;
	width: 100%;
	position: absolute;
	bottom: -60px;
	text-align: center;
	font-size: 32px;
	.rotate-table {
		display: inline-block;
		width: 25%;
		&.cw {
			text-align: left;
			&:after {
				top: 0;
				left: 0;
				content: "\21BB";
			}
		}
		&.ccw {
			text-align: right;
				&:after {
				top: 0;
				left: 0;
				content: "\21BA";
			}
		}
	}
}

.table-wrap:hover {
	.table-controls {
		@include opacity(1);
	}
}

.seat {
	position: absolute;
	left: 50%;
	margin-left: -12px;
	width: 24px;
	height: 71px; // gives space between edge of table and seats
	margin-top: -25px; // height of seat box - height of table
	@include transform-origin(bottom ,center);
	span {
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		content: "";
		border-bottom: 12px solid $grey-light;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		height: 0;
		width: 24px;
		@include transition(all 0.5s);
		&:hover {
			border-bottom-color: $grey;
		}
	}
}